.dark-layout {
  //css here for dark layouts
  .service-item-current-style1 {
    background-color: $dark-bg-lighter;
    .service-content{
      background-color: $dark-bg-lighter;
    }
  }
  .about-box {
    .help-details{
      background-color: $dark-bg-lighter;
    }
  }
  .icon-box {
    .icon{
      &.icon-gray{
        background-color: $dark-bg-lighter;
      }
    }
  }
  .tm-sc-team-box {
    .tm-content{
      background-color: $dark-bg-lighter;
    }
  }
  .tm-sc-testimonials{
    &.testimonials-style-current-theme{
      .testimonial-text-holder{
        background-color: $dark-bg-lightest;
      }
    }
  }
  .booking-form{
    background-color: $dark-bg-lightest;
  }
  .company-service{
    &:before{
      background-color: $dark-bg-light;
    }
  }
  .border-top{
    border-top: 1px solid $dark-bg-lightest;
  }
  .blog-style1-current-theme {
    .post{
      background-color: $dark-bg-lightest;
    }
  }
  .course{
    background-color: $dark-bg-lightest;
  }
  .tm-sc-departments-tab{
    background: $dark-bg-lightest;
  }
}