/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.App {
  font-family: sans-serif;
  text-align: center;
}

.content {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-height: 450px;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid #ded;
  margin-top: 20px;
}
.img-box {
  min-width: 134px;
  width: calc(25% - 16px);
  flex-grow: 1;
  margin: 4px;
  overflow: hidden;
  border: 1px solid #ded;
  border-radius: 8px;
  padding: 4px;
}

.img-box img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.modal-body img {
  max-width: 100%;
}
